* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #0e7b27; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}


.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}


.main-title {
    color: black;
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: bold;
}


.form-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}


label {
    margin-bottom: 5px;
    font-size: 1rem;
    display: block; 
}


input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


.radio-option {
    display: block; 
    margin-bottom: 10px;
}

.radio-option input[type="radio"] {
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
}

fieldset {
    border: none; 
    padding: 0; 
    margin-bottom: 20px; 
}

legend {
    margin-bottom: 10px;
    font-size: 1.1rem;
}


.checkbox-option {
    display: block; 
    margin-bottom: 10px;
}

.checkbox-option input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
}


button {
    width: 100%;
    padding: 4px;
    font-size: 2rem;
    color: black;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #218838;
}
